<!DOCTYPE html>
<html>
<head>
    <title>Admin View</title>
</head>
<body>
    <h1>Admin View</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Email</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            {% for korisnik in korisnici %}
            <tr>
                <td>{{ korisnik.id }}</td>
                <td>{{ korisnik.ime }}</td>
                <td>{{ korisnik.prezime }}</td>
                <td>{{ korisnik.email }}</td>
                <td>
                    <a href="{% url 'PZWapp:delete_user' korisnik.id %}">Obriši</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>