<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
</head>
<body class="homepage">
    <div class="container">
        {% if user.is_authenticated %}
            <h1 class="welcome">Dobrodošli, {{ user.username }}!</h1>
            <p class="subtext">Uspješno ste prijavljeni.</p>
        {% else %}
            <h1 class="welcome">Dobrodošli!</h1>
            <p class="subtext">Molimo prijavite se kako biste nastavili.</p>
        {% endif %}

        <section class="plants-overview">
            <h2>Pregledajte Biljke</h2>
            <div class="plant-links">
                <div class="plant-card">
                    <a href="{% url 'PZWapp:vrtnabiljka_list' %}">
                        <img src="{% static 'images/garden_plants_icon.png' %}" alt="Vrtno Bilje">
                        <h3>Vrtno Bilje</h3>
                    </a>
                </div>
                <div class="plant-card">
                    <a href="{% url 'PZWapp:povrtnabiljka_list' %}">
                        <img src="{% static 'images/vegetable_icon.png' %}" alt="Povrtno Bilje">
                        <h3>Povrtno Bilje</h3>
                    </a>
                </div>
            </div>
        </section>

        {% if user.is_authenticated %}
            <form class="logout-form" method="post" action="{% url 'PZWapp:logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% endif %}
    </div>
    
    <script>
        window.addEventListener("beforeunload", function (event) {
            // Pretrži CSRF token iz DOM-a
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    
            // Pošaljite POST zahtjev za logout uz CSRF token
            fetch("{% url 'logout' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: "csrfmiddlewaretoken=" + csrfToken,
            });
        });
    </script>    
    
</body>
</html>
