<!DOCTYPE html>
<html>
<head>
    <title>{{ view.title|default:"Forma za Povrtne Biljke" }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/povrtna_biljka.css' %}">
</head>
<body class="povrtne_biljke_dodavanje">
    <div class="form-container">
        <h1>{{ view.title|default:"Forma za Povrtne Biljke" }}</h1>
        <form method="post">
            {% csrf_token %}

            <label for="id_ime_p">Naziv vrtne biljke:</label>
            <input
              type="text"
              name="ime_p"
              id="id_ime_p"
              placeholder="Rajčica"
              value="{{ form.ime_p.value|default_if_none:'' }}"
            />
    
            <label for="id_regijaBiljke_p">Regija vrtne biljke:</label>
            <input
              type="text"
              name="regijaBiljke_p"
              id="id_regijaBiljke_p"
              placeholder="Hrvatska, Zagorje"
              value="{{ form.regijaBiljke_v.value|default_if_none:'' }}"
            />
    
            <label for="id_vrijemeSazrijevanja_p"
              >Vrijeme sazrijevanja vrtne biljke:</label
            >
            <input
              type="text"
              name="vrijemeSazrijevanja_p"
              id="id_vrijemeSazrijevanja_p"
              placeholder="srpanj-listopad, 70-80 dana"
              value="{{ form.vrijemeSazrijevanja_p.value|default_if_none:'' }}"
            />

            <button type="submit">Spremi</button>
        </form>
        <div class="back-link">
            <a href="{% url 'PZWapp:povrtnabiljka_list' %}">Povratak na popis</a>
        </div>
    </div>
</body>
</html>
