<!DOCTYPE html>
<html>
<head>
    <title>{{ view.title|default:"Forma za Povrtne Biljke" }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forma.css' %}">
</head>
<body class="povrtne_biljke_dodavanje">
    <div class="form-container">
        <h1>{{ view.title|default:"Forma za Povrtne Biljke" }}</h1>
        <form method="post">
            {% csrf_token %}

            <label for="id_ime_p">Naziv povrtne biljke:</label>
            {{ form.ime_p }}

            <label for="id_regijaBiljke_p">Regija povtrne biljke:</label>
            {{ form.regijaBiljke_p }}

            <label for="id_vrijemeSazrijevanja_p">Vrijeme sazrijevanja povrtne biljke:</label>
            {{ form.vrijemeSazrijevanja_p }}

            <button type="submit">Spremi</button>
        </form>
        <div class="back-link">
            <a href="{% url 'PZWapp:povrtnabiljka_list' %}">Povratak na popis</a>
        </div>
    </div>
</body>
</html>
