<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potvrda Brisanja</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/brisanje.css' %}">
</head>
<body>
    <div class="confirm-container">
        <h1>Jeste li sigurni da želite obrisati "{{ object.ime_p }}"?</h1>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Da, obriši</button>
            <a href="{% url 'PZWapp:vrtnabiljka_list' %}" class="btn btn-secondary">Odustani</a>
        </form>
    </div>
    <script>
        let isNavigatingAway = false;
    
        // Dodaj event listener za linkove koji vode na drugu stranicu
        document.querySelectorAll('a').forEach(link => {
            link.addEventListener('click', function () {
                isNavigatingAway = true;  // Postavimo flag na true kada korisnik klikne na link
            });
        });
    
        window.addEventListener("beforeunload", function (event) {
            if (!isNavigatingAway) {
                if (event.clientY < 0) {
                // Provjerite ima li korisnik CSRF token
                const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]');
                
                if (csrfToken) {
                    // Kreiraj FormData objekt za slanje CSRF tokena
                    const formData = new FormData();
                    formData.append('csrfmiddlewaretoken', csrfToken.value);
                    
                    // Pošaljite POST zahtjev za logout u pozadini pomoću sendBeacon
                    navigator.sendBeacon("{% url 'PZWapp:logout' %}", formData);
                    }
                }
            }
        });
    </script>
</body>
</html>
