<!DOCTYPE html>
<html>
<head>
    <title>Popis Vrtnog Bilja</title>
</head>
<body>
    <h1>Popis Vrtnog Bilja</h1>
    <form method="get">
        <input type="text" name="q" placeholder="Pretraži po imenu...">
        <button type="submit">Pretraži</button>
    </form>
    <ul>
        {% for biljka in biljke %}
        <li>
            <a href="{% url 'vrtnabiljka_detail' biljka.id %}">{{ biljka.ime_v }}</a> - 
            Regija: {{ biljka.regijaBiljke_v }} - Sazrijevanje: {{ biljka.vrijemeSazrijevanja_v }}
        </li>
        {% empty %}
        <li>Nema rezultata za prikaz.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'PZWapp:homepage' %}">Povratak na početnu stranicu</a>
</body>
</html>