<!DOCTYPE html>
<html>
<head>
    <title>{{ view.title|default:"Dodavanje Biljke na Farmu" }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/vrtna_biljka.css' %}" />
</head>
<body class="vrtne_biljke_dodavanje">
    <div class="form-container">
        <h1>Dodavanje Vrtne Biljke</h1>
        <form method="post" id="add-plant-form">
            {% csrf_token %}
            
            <!-- Unos imena biljke -->
            <label for="id_ime_v">Ime biljke:</label>
            <input type="text" name="ime_v" id="id_ime_v" placeholder="Upiši ime biljke" required>
        
            <!-- Unos regije biljke -->
            <label for="id_regijaBiljke_v">Regija biljke:</label>
            <input type="text" name="regijaBiljke_v" id="id_regijaBiljke_v" placeholder="Upiši regiju biljke" required>
        
            <!-- Unos vremena sazrijevanja -->
            <label for="id_vrijemeSazrijevanja_v">Vrijeme sazrijevanja:</label>
            <input type="text" name="vrijemeSazrijevanja_v" id="id_vrijemeSazrijevanja_v" placeholder="Upiši vrijeme sazrijevanja" required>

            <button type="submit">Spremi</button>
        </form>
        <div class="back-link">
            <a href="{% url 'PZWapp:vrtnabiljka_list' %}">Povratak na popis</a>
        </div>
    </div>
    
    <script>
        let isNavigatingAway = false;
        let formSubmitted = false;  // Flag koji provjerava je li forma već poslana
    
        // Dodaj event listener za linkove koji vode na drugu stranicu
        document.querySelectorAll('a').forEach(link => {
            link.addEventListener('click', function () {
                isNavigatingAway = true;  // Postavimo flag na true kada korisnik klikne na link
            });
        });

        // Preveniranje slanja duplih biljaka
        document.getElementById("add-plant-form").addEventListener('submit', function (event) {
            if (formSubmitted) {
                event.preventDefault();  // Sprječava ponovno slanje iste forme
                return false;
            }
            formSubmitted = true;  // Ako forma nije poslana, označi je kao poslanom
        });

        // URL za logout prosljeđujemo iz Django template
        const logoutUrl = "{% url 'PZWapp:logout' %}";

        window.addEventListener("beforeunload", function (event) {
            if (!isNavigatingAway && !formSubmitted) {
                // Provjerite ima li korisnik CSRF token
                const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]');
                
                if (csrfToken) {
                    // Kreiraj FormData objekt za slanje CSRF tokena
                    const formData = new FormData();
                    formData.append('csrfmiddlewaretoken', csrfToken.value);
                    
                    // Pošaljite POST zahtjev za logout u pozadini pomoću sendBeacon
                    navigator.sendBeacon(logoutUrl, formData);
                }
            }
        });
    </script>
</body>
</html>
