<!DOCTYPE html>
<html>
<head>
    <title>{{ view.title|default:"Dodavanje Biljke na Farmu" }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/vrtna_biljka.css' %}" />
</head>
<body class="vrtne_biljke_dodavanje">
    <div class="form-container">
        <h1>{{ view.title|default:"Dodavanje Biljke na Farmu" }}</h1>
        <form method="post">
            {% csrf_token %}

            <!-- Dropdown meni za odabir vrtne biljke -->
            <label for="id_biljka">Odaberi biljku:</label>
            <select name="biljka" id="id_biljka">
                {% for biljka in vrtne_biljke %}
                    <option value="{{ biljka.id }}">{{ biljka.ime_v }}</option>
                {% endfor %}
            </select>

            <!-- Unos lokacije farme -->
            <label for="id_lokacija">Lokacija farme:</label>
            <input type="text" name="lokacija" id="id_lokacija" placeholder="Upiši lokaciju" required>

            <!-- Unos broja posađenih biljaka -->
            <label for="id_kolicina">Broj posađenih biljaka:</label>
            <input type="number" name="kolicina" id="id_kolicina" placeholder="Upiši broj biljaka" required>

            <button type="submit">Spremi</button>
        </form>
        <div class="back-link">
            <a href="{% url 'PZWapp:vrtnabiljka_list' %}">Povratak na popis</a>
        </div>
    </div>
</body>
</html>
