<!DOCTYPE html>
<html>
<head>
    <title>{{ view.title|default:"Forma za Vrtne Biljke" }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/vrtna_biljka.css' %}">
</head>
<body class="vrtne_biljke_dodavanje">
    <div class="form-container">
        <h1>{{ view.title|default:"Forma za Vrtne Biljke" }}</h1>
        <form method="post">
            {% csrf_token %}

            <label for="id_ime_v">Naziv vrtne biljke:</label>
            {{ form.ime_v }}

            <label for="id_regijaBiljke_v">Regija vrtne biljke:</label>
            {{ form.regijaBiljke_v }}

            <label for="id_vrijemeSazrijevanja_v">Vrijeme sazrijevanja vrtne biljke:</label>
            {{ form.vrijemeSazrijevanja_v }}

            <button type="submit">Spremi</button>
        </form>
        <div class="back-link">
            <a href="{% url 'PZWapp:vrtnabiljka_list' %}">Povratak na popis</a>
        </div>
    </div>
</body>
</html>
